body{
    background-color: rgb(217, 227, 245);
    width: 40%;
    max-width: 1200px;
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:crimson;
    font-size: large;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color:darkmagenta;
    font-size: 56px;
}